body {
    background-color: #f6f3ec;
    width: 100%;
    padding: 2rem 0 6rem 0;
    margin: 0;
    font-size: 16px;
    font-family: "suisse", arial, sans-serif;
    background-image: url("img/roots-bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50rem auto;
    color: #1c1f5d;
}

@media only screen and (min-width: 1100px) {
    body {
        background-size: 50rem auto;
    }
}

header, main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
}

article {
    padding-top: 3rem;
    max-width: 35rem;
}

@font-face {
    font-family: "suisse";
    src: url("fonts/SuisseIntl-Regular-WebTrial.eot") format("eot");
    src: url("fonts/SuisseIntl-Regular-WebTrial.ttf") format("ttf");
    src: url("fonts/SuisseIntl-Regular-WebTrial.woff") format("woff2");
    src: url("fonts/SuisseIntl-Regular-WebTrial.woff2") format("woff");
}