body {
    background-color: #f6f3ec;
    width: 100%;
    padding: 2rem 0 6rem 0;
    margin: 0;
    font-size: 16px;
    font-family: "suisse", arial, sans-serif;
    background-image: url("img/roots-bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50rem auto;
    color: #1c1f5d;
}

header, main, footer {
    max-width: 60rem;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

header {
    color: #f6f3ec;
    padding-bottom: 1.5rem;
}

header svg {
    -webkit-filter: drop-shadow( 5px 5px 5px #1c1f5d);
    filter: drop-shadow( 5px 5px 5px #1c1f5d);
    transition: ease all .5s;
}

@media only screen and (min-width: 980px) {
    header svg {
        color: #1c1f5d;
        -webkit-filter: none;
        filter: none;
        transition: ease all .5s;
    }
}

footer {
    padding-top: 3rem;
}

article {
    padding: 1rem 0;
    max-width: 35rem;
    transition: ease all .5s;
}

.intro {
    background-color: rgba(246, 243, 236, .8);
    border-radius: 1rem;
    z-index: 5;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1rem 1.5rem;
}

@media only screen and (min-width: 1600px) {
    .intro {
        background-color: transparent;
        transition: ease all .5s;
        z-index: 5;
    }
}

@font-face {
    font-family: "suisse";
    src: url("fonts/SuisseIntl-Regular-WebTrial.eot") format("eot");
    src: url("fonts/SuisseIntl-Regular-WebTrial.ttf") format("ttf");
    src: url("fonts/SuisseIntl-Regular-WebTrial.woff") format("woff2");
    src: url("fonts/SuisseIntl-Regular-WebTrial.woff2") format("woff");
}